

<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Le détail du Gossip</h1>
    <h3>Voici la page du Gossip n°<%= id %></h3>
        <p>
          Son Auteur : <%= gossip.author %><br/>
          Le contenu du Gossip : <%= gossip.content %><br/>
        </p>
    <a href = '/'>Retour</a>
  </body>
</html>